.teamDarkBox{
    display: flex;
    align-items: center;
}

.darkwrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.teamDarkBox .left_sec{
 width:65%;
}

.teamDarkBox .right_sec{
 width:35%;
 padding-left: 60px;

}

.user_details{
    padding-left:25px;
}
.slider_role{
    font-size: 15px;
}
.slider_name{
    font-size: 22px;
    font-weight: 500;
    margin-top: 8px;
}
.teamDarkBox .left_sec {
    background: #222f59;
    padding: 80px;
    border-radius: 20px;
    min-height: 300px;
    box-sizing: border-box;
}
#tasjdsf22{
  padding: 60px 0 70px 0}
.slider-img{
 width:100px;
 border-radius: 50%;
 
}

p.slider_desc {
    color: #f5f5f5;
    font-size: 19px;
    line-height: 2;
    margin-bottom: 30px;
    font-style: italic;
}
.user_details{
  color: #f5f5f5;
}

.teamwork{
  position: relative;

}

.teamwork::before {
    content: '';
    height: 90%;
    background-color: #e3e9fb;
    position: absolute;
    width: 60vw;
    top: 5%;
    right: 0;
    z-index: -1;
    border-radius: 30% 0 0 30%;
}
.mainheading{
    padding: 30px 0 40px 0;
}
/* Tablet View: 768px - 991px */
@media (max-width: 991px) {
  .teamDarkBox {
    flex-direction: column;
  }
.teamDarkBox .left_sec{
    margin-bottom: 80px;
    width: 95%;
}
 .teamDarkBox .right_sec{
    background-color: #e9ecff;
    width: 95%;
    min-height: 400px;
    align-content: center;
    padding: 80px;
    box-sizing: border-box;
    border-radius: 20px;
    
 }

  .slider-img {
    width: 100px;
  }

  .slider_name {
    font-size: 20px;
  }

  .slider_desc {
    font-size: 17px;
    line-height: 1.8;
  }

  .mainheading {
    font-size: 26px;
  }

  .mainpara {
    font-size: 15px;
  }

  .darkwrap {
    flex-direction: row;
    align-items: center;
  }
  .teamwork::before {
    display: none;
}
}

/* Phone View: upto 767px */
@media (max-width: 767px) {
  .teamDarkBox {
    flex-direction: column;
   
  }

  .teamDarkBox .left_sec,
  .teamDarkBox .right_sec {
    width: 100%;
    padding: 35px 20px;
  }

  .slider-img {
    width: 70px;
  }

  .slider_desc {
    font-size: 16px;
    line-height: 1.7;
  }
  .teamwork{
    padding: 0;
    margin: 0
  }
  .darkwrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .teamDarkBox .left_sec{
   margin-bottom: 50px;
  }


  .user_details {
    padding-left: 0;
    text-align: left;
  }

  .slider_name {
    font-size: 18px;
  }

  .mainheading {
    font-size: 22px;
    text-align: center;
  }

  .mainpara {
    font-size: 14px;
    text-align: center;
  }
}
